@font-face {
    font-family: 'DINPro-Medium';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DINProMedium_13936.eot');
    src: url('../fonts/DINProMedium_13936.eot') format('embedded-opentype'),
    url('../fonts/DINProMedium_13936.woff2') format('woff2'),
    url('../fonts/DINProMedium_13936.woff') format('woff'),
    url('../fonts/DINProMedium_13936.ttf') format('truetype'),
    url('../fonts/DINProMedium_13936.svg#DINProMedium_13936') format('svg');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
    url('../fonts/MyriadProRegular.woff2') format('woff2'),
    url('../fonts/MyriadProRegular.woff') format('woff'),
    url('../fonts/MyriadProRegular.ttf') format('truetype'),
    url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'DINPro-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DINProRegular_13937.eot');
    src: url('../fonts/DINProRegular_13937.eot') format('embedded-opentype'),
    url('../fonts/DINProRegular_13937.woff2') format('woff2'),
    url('../fonts/DINProRegular_13937.woff') format('woff'),
    url('../fonts/DINProRegular_13937.ttf') format('truetype'),
    url('../fonts/DINProRegular_13937.svg#DINProRegular_13937') format('svg');
}
